/**
 * @jonobr1 / http://jonobr1.com/
 */

@import 'bourbon/bourbon';

/**
 * Composition variables
 */
$line-height: 20px;

/**
 * Color variables
 */
$white: white;
$red: rgb(255, 0, 50);

* {
  margin: 0;
  padding: 0;
}

body {
  color: $white;
  line-height: $line-height * 3;
  font-size: $line-height * 1.5;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  a {
    text-decoration: none;
    &:link, &:visited {
      color: $white;
      border-bottom: 2px solid $white;
    }
    &:hover, &:active {
      border-bottom-color: transparent;
    }
  }
  strong {
    font-weight: normal;
    border-bottom: 2px dotted;
  }
  em {
    font-style: normal;
    border-bottom: 2px dashed;
  }
}

#content {

  // Hide everything on load
  & > * {
    display: none;
  }

  .main-view,
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  ul {
    list-style: none;
  }

  #controls {

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;

    font-size: $line-height * 0.85;
    text-align: center;
    @include user-select(none);

    ul {
      position: relative;
      @include inline-block;
      top: -60px;
      
      li {
        @include inline-block;
        cursor: pointer;
        &:hover {
          color: $red;
        }
        &.bracket,
        &#loading {
          cursor: default;
          &:hover {
            color: $white;
          }
        }
      }
      li + li {
        margin-left: $line-height;
      }

    }

  }

  #error {
    background: #222;
    p {
      margin-top: $line-height;
    }
  }

  .modal {
    background: #222;
    overflow: auto;
    .close {
      position: absolute;
      font-size: $line-height * 1.25;
      line-height: 0;
      top: $line-height;
      right: $line-height * 0.66;
      cursor: pointer;
      &:hover {
        color: $red;
      }
    }
    p {
      width: 85%;
      margin: 0 auto;
      margin-top: $line-height * 2;
      outline: none;
      &[contenteditable] {
        width: 66%;
        border: 3px solid $white;
        padding: $line-height;
      }
    }
    p + p {
      margin-top: $line-height;
    }
    p:last-child {
      margin-bottom: $line-height * 2;
    }
    #album-cover {
      background: url(../images/album-cover.jpg) center center no-repeat;
      width: 400px;
      height: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    }
    #poster-thumbnail {
      background: url(../images/poster.jpg) center center no-repeat;
      width: 400px;
      height: 626px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
      &:hover {
        color: $red;
      }
    }
  }

  #signum {
    display: none;
  }

  #share {
    // display: block;
    @include transition(all 1s $ease-out-circ);
    opacity: 0.0;
    @include transform(scale(4, 4));
    @include transform-origin(center center);
    @include transform-style(preserve-3d);
    &.zoom-out {
      @include transform(scale(1, 1));
      opacity: 1.0;
    }
    img {
      @include user-select(none);
    }
  }

  .cta {
    color: shade($red, 50%);
    a {
      & + a {
        margin-left: $line-height / 2;
      }
      &:link, &:visited {
        color: shade($red, 25%);
        border-color: transparent;
      }
      &:hover, &:active {
        color: $red;
        border-color: transparent;
      }
    }
  }

  #share {
    ul {
      position: absolute;
      top: $line-height * 2;
      width: 100%;
    }
  }

  #jonobr1,
  #plaid,
  #warp {
    height: 40px;
    width: 60px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  #jonobr1 {
    background-image: url(../images/jonobr1.svg);
  }
  #plaid {
    background-image: url(../images/plaid.svg);
  }
  #warp {
    background-image: url(../images/warp.svg);
  }

  #replay-button,
  #share .cta a:last-child {
    margin-right: 30px;
  }

}

::selection {
  background: $red; /* Safari */
  }
::-moz-selection {
  background: $red; /* Firefox */
}
